/*
Comments:

*/

*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}


.navbar{
	height: 12%;
	display: flex;
	align-items: center;

	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	background-color: #1E1C19;
}

.logo{
	width: 110px;
	cursor: pointer;
}

.menu-icon{
	width: 30px;
	cursor: pointer;
	margin-left: 60px;
}

nav{
	flex: 1;
	text-align: right;
	box-sizing: border-box;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	
	padding: 10px;
	padding-left: 70px;
	padding-right: 70px;
	border: 2px solid #009688;
	border-radius: 20px;

}

nav ul li a:hover{
	color: #fff;
	background-color: #009688;
	
}

.hero{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(Img/001Home.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;

}

form{
	width: 90%;
	max-width: 600px;
}

.input-group{
	margin-bottom: 30px;
	position: relative;
}

input, textarea{
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
	font-size: 15px;
}

label{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	color: #fff;
	cursor: text;
	transition: 0.2s;
}

button{
	padding: 10px 0;
	color: #fff;
	outline: none;
	background: transparent;
	border: 1px solid #fff;
	width: 100%;
	cursor: pointer;
	border-radius: 25px;
}

button:hover{
	background: #009688;
	color: #fff;
	transition: 0.2s;
	font-weight: bold;
	border: 1px solid #009688;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
	top: -35px;
	font-size: 14px;
}

.row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row .input-group{
	flex-basis: 48%;
}







