/*
Comments:


*/


*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Img/001Home.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.banner{
	width: 100%;
	height: 20%;
	margin-bottom: 0%;
	display: inline;
}

.navbar{
	width: 90%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 140px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	psition: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	poition: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.content{
	width: 100%;
	height: 0%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

.content h1{
	font-size: 30px;
	margin-top: 10px;
}

.image{
	margin-left: 0%;
	margin-top: 2%;
	/*
	text-align: center;
	transform: translate(-50%,0%);
	position: absolute;
	z-index: 1;
	top: 20%;
	*/
}

.scrollover{
	width: 100%;
	postion:absolute;
	mrgin-left: 35%;
	adding-top: 10px;
	margin-top: 0;
	text-align: center;
}

button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	margin-left: 40px;
}

span{
	background: #009688;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}

button:hover{
	border: none;
}


@media screen and  (max-width: 900px){
	.content{
		width: 100%;
		display: block;
		margin: auto;
		padding-top: 50px;
	}
	nav ul li{
		float: none;
		width: 100%;
		display: block;
		margin: auto;
	}
	/*
	.image-section{
		float: none;
		width: 100%;
	}
	.image-section img{
		width: 100%;
		height: auto;
		display: block;
		margin: auto;
	}
	.content-section .title{
		text-align: center;
		font-size: 19px;
	}
	.content-section .content .button{
		text-align: center;
	}
	.content-section .content .button a{
		padding: 9px 30px;
	}
	.content-section .social{
		text-align: center;
	}
	*/
}




